 root{
    --cor-primaria:#d1fdd9;
    --cor-secundaria:#4fb7a6;
    font-size:12px;

header {
    display:flex;
    justify-content: space-around ;
    align-items: center;
    background-color: var(--cor-primaria);
    }

    h1{
        font-size: 4rem;
        color:var(--cor-primaria);
    }

    img {
        width:20vw;
        

    }

    main{
        display:flex;
        justify-content: space-between;
    }
    footer {
        text-align: center;
        background-color:var(--cor-primaria);
        padding: 30px 0 ;
    }

    h2{
        font-weight: bold;
        font-size: 1.5rem;
    }
  
    p{
        font-size: 1rem; 
        line-height:1.50rem;

  }
    
    .area-restrita {
        display:flex;
        align-items:center;
        background-color: var(--cor-secundaria);
        padding: 0 20 px;
    }
 
    .cards{
        border: 1px solid var(--cor-secundaria);
        width:30vw;
        line-height:24px;
        padding:24px;
        background-color: var(--cor-secundaria);
        height: 50vh;

    }